doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div#header
            h1.logo 魔卡幻想一键
        div#content
            form(action="/login" method="post")
                div
                    input.sign(required type='text', name='username', placeholder='用户名')
                div
                    input.sign(required type='password', name='password', placeholder='密码')
                div
                    button.sign(type='submit') 登录
        div  #{info}
        div#footer 本工具系小伙伴★L个人娱乐作品，只供小伙伴内部交流使用，如有问题，你来打我啊。