doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
        script(src='/jquery-1.11.1.js')
        script.
            $.ajaxSetup({cache:false});
  body
    div#wrapper
        div#header
            h1 魔卡幻想一键
        block content
        div#footer 本工具只做内部交流使用。