body {
    font: normal 100%;
}

h1 {
    font-family: "Microsoft YaHei";
    letter-spacing: 3px;
    font-weight: normal;
}

table {
    padding: 0;
    margin: 0;
    border: 2px solid dodgerblue;
    border-collapse: collapse;
    text-align: center;
}

th {
    letter-spacing: 1px;
    padding: 4px;
    background: #CAE8EA;
    border: 1px solid cornflowerblue;
}

td {
    background: #fff;
    border: 1px solid cornflowerblue;
}

button {
    margin: 4px;
}

input.sign {
    margin: 2px;
    font-family: 'Microsoft YaHei';
    width: 150px;
}
button.sign{
    margin: 2px;
    width: 154px;
    font-family: 'Microsoft YaHei';
}

div#console {
    height: 300px;
    width: 100%
}

div#consoleLog {
    padding: 0 0 0 10px;
    color: #fff;
    font-family: "simsong";
    font-size: 0.8em;
    overflow-y: auto;
    height: 88%;
    background-color: black;
    margin-top: 0px;
}
h3#consoleTitle{
    color: #fff;
    background: #34495e;
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 10px;
    font-weight: bold;
    margin-bottom: 0px;
}
