h1 {
    font-family: "Microsoft YaHei";
    letter-spacing: 3px;
    font-weight: normal;
}

table {
    padding: 0;
    margin: 0;
    border: 2px solid dodgerblue;
    border-collapse: collapse;
    text-align: center;
}

th {
    letter-spacing: 1px;
    padding: 4px;
    background: #CAE8EA;
    border: 1px solid cornflowerblue;
}

td {
    background: #fff;
    font-size:12px;

    border: 1px solid cornflowerblue;
}

button {
    margin: 4px;
}

input {
    margin: 2px;
    font-family: 'Verdana';
    width: 150px;
}
button.sign{
    margin: 2px;
    width: 150px;
}